/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url('23322.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #0077b6;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin: 20px 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

main {
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Input Styles */
input[type="text"], 
input[type="date"], 
input[type="time"] {
  width: calc(100% - 22px); /* Full width minus padding and border */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

input[type="text"]:focus, 
input[type="date"]:focus, 
input[type="time"]:focus {
  border-color: #0077b6; /* Highlight border on focus */
  outline: none; /* Remove default outline */
}

/* Itinerary List */
#itinerary-list, 
#search-results {
  margin: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.itinerary-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.3s;
  margin: 20px 10px 10px;
}

.itinerary-item:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 15px;
  background: #35424a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease, transform 0.3s ease;
  font-weight: bold;
}

button:hover {
  background: #455a64;
  transform: scale(1.05);
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  transition: color 0.3s ease;
}

.nav-link:hover, .nav-link:focus {
  color: black;
}

/* Header Styles */
h3 {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-size: 1.5em;
}

/* Responsive Styles */
@media (max-width: 600px) {
  header, main {
    margin: 10px;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.25em;
  }

  button {
    width: 100%;
    margin-top: 5px;
  }

  input[type="text"], 
  input[type="date"], 
  input[type="time"] {
    width: 100%; /* Full width on smaller screens */
  }
}
